html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: initial; }

ul {
  list-style: none; }

/* =======================================================
========================================================== 
FONTS STYLE 
==========================================================
======================================================= */
h2 {
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-size: 56px;
  font-weight: 900; }

.btn {
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-size: 26px; }

.end-text_index,
.end-text_product,
.end-text_panier,
.end-text_confirm {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: bold; }

header h1,
header a {
  font-family: 'Teko', Arial, sans-serif;
  font-size: 43px;
  color: #3B2D39;
  font-weight: 900; }

.banner-title {
  font-family: 'Roboto', Arial, sans-serif; }

.banner-title h2 {
  font-family: 'Arial Bold', sans-serif;
  font-size: 42px;
  color: white; }

.banner-title p {
  font-family: 'Arial Bold', sans-serif;
  font-size: 28px;
  color: white; }

.cardName {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 40px;
  color: #3B2D39;
  font-weight: 900; }

.cardPrice, .cardDescription, .cardLenses {
  font-family: 'Roboto', Arial, sans-serif;
  color: #272321;
  font-size: 24px;
  font-weight: 500; }

.name {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 40px;
  color: #3B2D39;
  font-weight: 700; }

.price,
.lenses,
.description {
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-size: 24px;
  font-weight: 500; }

.choice-lenses label {
  font-size: 40px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-weight: 700; }

.choice-lenses select {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #000000; }

thead, tfoot {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39; }

tbody {
  font-size: 26px;
  font-weight: 500;
  font-family: 'Roboto', Arial, sans-serif;
  color: #272321; }

.order-div {
  font-size: 40px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-weight: 700; }

.contact-form label {
  font-size: 20px;
  color: #272321;
  font-weight: 500; }

.order-confirm h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 40px;
  color: #3B2D39;
  font-weight: 900; }

.order-confirm_text {
  font-family: 'Roboto', Arial, sans-serif;
  color: #3B2D39;
  font-size: 24px;
  font-weight: 500; }

#orderPrice {
  font-weight: 900;
  color: black; }

.footer p {
  font-size: 12px;
  color: #000000; }

/* =======================================================
========================================================== 
FONTS STYLE (RESPONSIVE)
==========================================================
======================================================= */
@media (max-width: 1450px) {
  h2 {
    font-size: 46px; }

  .cardPrice,
  .cardDescription,
  .cardLenses,
  .price,
  .lenses,
  .description {
    font-size: 20px; }

  .choice-lenses select {
    font-size: 8px; } }
@media (max-width: 1200px) {
  h2 {
    font-size: 32px; }

  .cardPrice,
  .cardDescription,
  .cardLenses,
  .price,
  .lenses,
  .description {
    font-size: 16px; }

  .order-confirm_text {
    font-size: 18px; }

  .order-div {
    font-size: 28px; }

  thead, tfoot {
    font-size: 22px; }

  tbody {
    font-size: 18px; } }
@media (max-width: 850px) {
  h2,
  .banner-title h2,
  .choice-lenses label,
  .order-confirm h3,
  .name,
  .cardName {
    font-size: 24px; }

  .banner-title p,
  .order-div {
    font-size: 18px; }

  .end-text_index,
  .end-text_product,
  .end-text_panier,
  .end-text_confirm {
    font-size: 14px; }

  header h1,
  header a {
    font-size: 30px; } }
@media (max-width: 650px) {
  h2,
  .banner-title h2,
  .choice-lenses label,
  .order-confirm h3,
  .name,
  .cardName {
    font-size: 18px; }

  .end-text_index,
  .end-text_product,
  .end-text_panier,
  .end-text_confirm {
    font-size: 12px; } }
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4EBF2;
  border: solid 2px #3B2D39;
  border-radius: 20px;
  width: 320px;
  height: 60px;
  margin: auto; }

.btn:hover {
  opacity: 0.70;
  color: black;
  font-weight: bold; }

.btn_home {
  margin-top: 25px; }

.btn-customize {
  margin-top: 80px;
  margin-bottom: 50px; }

#clear-order_summary {
  margin-top: 20px; }

.div-confirm-order {
  padding-top: 50px; }

#btn-return-home {
  margin-bottom: 30px; }

table {
  border: medium solid #3B2D39;
  border-collapse: collapse;
  width: 1000px;
  text-align: center;
  margin-top: 20px; }

tr {
  height: 80px; }

td {
  border: thin solid #3B2D39;
  width: 200px;
  height: 50px; }

.table-category,
.total {
  background-color: #bdb3bb; }

.contact-form {
  background-color: #bdb3bb;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #3B2D39; }

.contact-form h3 {
  text-align: center; }

.contact-form label {
  margin-top: 50px;
  width: 110px;
  display: inline-block; }

.contact-form input {
  width: 400px;
  height: 30px;
  padding-top: 5px; }

@media (max-width: 550px) {
  .contact-form input {
    width: auto; } }
.choice-lenses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.choice-lenses label {
  width: 100%;
  text-align: center;
  margin-top: 50px; }

.choice-lenses select {
  margin-top: 15px;
  width: 50%;
  height: 20px; }

.hide {
  display: none; }

.header {
  background-color: #8c828a;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav a {
  margin-left: 15px; }

.header-icone {
  margin-left: 3px; }

header a:hover {
  opacity: 0.7; }

.footer {
  background-color: #8c828a;
  position: fixed;
  height: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center; }

.banner-img {
  position: relative;
  z-index: 1;
  width: 100%; }

.banner-title {
  position: absolute;
  z-index: 10;
  background: transparent;
  text-align: center; }

.catalog-title {
  text-align: center;
  margin: 0px;
  padding-top: 50px;
  background-color: #F4EBF2; }

#products-dynamic {
  background-color: #F4EBF2;
  margin: 0;
  padding: 0px; }

.products {
  padding-bottom: 50px;
  padding-top: 50px; }

.product-card {
  background-color: #bdb3bb;
  border-radius: 50px;
  height: 550px;
  margin-left: 100px;
  margin-right: 100px; }

.infos-card {
  display: flex;
  flex-direction: column;
  padding-top: 50px; }

.product-card img {
  float: left;
  padding: 80px; }

.end-text_index {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 50px; }

.product-card {
  transform: scale(1);
  transition: transform 0.2s; }

.product-card:hover {
  transform: scale(1.05); }

/* responsive (products) */
@media (max-width: 1100px) {
  .product-card {
    margin-left: 50px;
    margin-right: 50px;
    height: 900px; }

  .infos-card {
    align-items: center;
    padding: 0px;
    margin: 0px; }

  .product-card img {
    padding: 0px;
    margin: 0px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px; }

  .product-card:hover {
    transform: scale(1); } }
@media (max-width: 650px) {
  .product-card {
    margin-left: 10px;
    margin-right: 10px;
    height: 700px; }

  .product-card img {
    height: 150px;
    width: 150px; } }
.order-confirm {
  background-color: #F4EBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px; }

.order-confirm h2 {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }

.order-confirm h3 {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px; }

.order-confirm p {
  margin: 0px;
  margin-bottom: 30px;
  line-height: 30px; }

.order-confirm_text {
  background-color: #bdb3bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 50px; }

.end-text_confirm {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 50px; }

@media (max-width: 1200px) {
  .order-confirm_text {
    margin-left: 20px;
    margin-right: 20px; }

  x
  .btn-return-home {
    width: 250px; } }
.customize-title {
  text-align: center;
  margin: 0px;
  padding-top: 50px;
  background-color: #F4EBF2; }

.product-select {
  background-color: #F4EBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }

.name {
  padding-top: 50px; }

.img-customize {
  display: block;
  margin: auto;
  height: 50%;
  width: 50%;
  transform: scale(1);
  transition: transform 0.2s; }

.img-customize:hover {
  transform: scale(1.05); }

.end-text_product {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 50px; }

@media (max-width: 1300px) {
  .img-customize {
    display: block;
    margin: auto; } }
@media (max-width: 650px) {
  .btn-customize {
    width: 200px; } }
.order-div {
  background-color: #F4EBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px; }

.order h2, .order h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px; }

.end-text_panier {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 50px; }

@media (max-width: 1100px) {
  table {
    width: 800px; } }
@media (max-width: 850px) {
  table {
    width: auto;
    margin-left: 10px;
    margin-right: 10px; }

  td {
    width: 250px; }

  .contact-form {
    margin-right: 20px;
    margin-left: 20px; }

  form {
    padding: 0; }

  input {
    width: 200px; }

  label {
    width: 80px; } }
@media (max-width: 550px) {
  input {
    width: 130px; }

  label {
    width: 90px; }

  .confirm-order {
    width: 200px; } }
@media (max-width: 450px) {
  table {
    width: auto;
    margin: 20px; } }

/*# sourceMappingURL=style.css.map */
