//PANIER.HTML ORDER SUMMARY
table{
    border: medium solid #3B2D39;
    border-collapse: collapse;
    width: 1000px;
    text-align: center; 
    margin-top: 20px;
}

tr{
    height: 80px;
}

td{
    border: thin solid #3B2D39;
    width: 200px;
    height: 50px;
}
.table-category, 
.total{
    background-color: #bdb3bb;
}
