@charset "UTF-8";


@import url("structure.css");
/* Permet d'importer la feuille css qui met en place le header et le footer */
@import url("responsive.css");
/* Permet d'importer la feuille css qui met en place le responsive du site web */
@import url("fonts.css");
/* Permet d'importer la feuille css qui met en place les fonts */
@import url("animation.css");
/* Permet d'importer la feuille css qui met en place les animations */


/* ########## GENERALE ########## */
body {
    display: flex;
    flex-direction: column;
}

#contenu_mention {
    padding-left: 90px;
    padding-right: 90px;
}

header a,
footer a {
    text-decoration: none;
    color: #FDCB46;
}

.fin-mentions {
    margin-bottom: 100px;
}

#contenu_mention h2,
#contenu_mention h3 {
    font-size: 28px;
    font-weight: bold;
    color: grey;
    text-decoration: underline;
    text-align: center;
    margin-top: 50px;
}