.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img{
    position: relative;
    z-index: 1;
    width: 100%;
}

.banner-title{
    position: absolute;
    z-index: 10;
    background: transparent;
    text-align: center;
}
